div.folderName {
    height: 40px;
	border: none;
	border-bottom: 2px solid black;
}

div.folderName * {
	float: right;
}

div.folderName.active {
    background: #cce478;
}

div.folderName.nonactive:hover {
	border-color: #e78b25;
    background: #a3bfde;
}

div.folderName.active:hover {
	border-color: #e78b25;
}

div.folderImg {
	height: 40px;
	width: 40px;
	float: left !important;
	background-origin: content-box;
	background-size: contain;
}

div.folderName.nonactive div.folderImg {
	background-image: url(/TreeViewer/images/folder-nonactive.png);
}
div.folderName.active div.folderImg {
	background-image: url(/TreeViewer/images/folder-active.png);
}
div.folderName.loading div.folderImg {
	background-image: url(/TreeViewer/images/folder-loading.png) !important;
}

div.folderName img {
	height: 24px;
	width: 24px;
	margin-top: 13px !important;
}

div.folderOpen {
	height: 24px;
	width: 24px;
	margin-top: 13px !important;
	background-origin: content-box;
	background-size: contain;
	background-image: url(/TreeViewer/images/up-arrow.png);
}
div.folderClose {
	height: 24px;
	width: 24px;
	margin-top: 13px !important;
	background-origin: content-box;
	background-size: contain;
	background-image: url(/TreeViewer/images/down-arrow.png);
}


div.folderName input {
	font-size: 20px;
	border: none;
	background: none;
	float: left !important;
	margin-top: 10px !important;
	margin-left: 5px !important;
}