body {
	padding: 0;
	margin: 0;
}

div {
	margin: 0.5em;
}

#wrap {
    margin: 0 auto;
	max-width: 60em;
    background: white;
  	border: none;
}

#header {
	position: fixed;
    width: 100%;
    max-width: inherit;
    margin: 0;
    border: none;
    background: white;
    border-radius: 0px;
}

#mainWindow {
    margin: 0 auto;
    padding-top: 68px;
    float: none;
    background: white;
  	border: none;
    width: 100%;
	max-width: inherit;
}

#menu {
	position: fixed;
	float: left;
	width: 10em;
	margin: 0;
    border: none;
}

#treeView {
	float: none;
	margin: 0;
    padding: 0.5em;
}

#treeView * {
	margin: 0;
	padding: 0;
}

img {
	display: block;
    margin: 10px auto;
}

div.menuButton {
	float: none;
    background: #fde171;
    padding: 0.2em;
}

div.menuButton:hover {
	background: #ff9933;
}
